<div>
<p>{{ 'Lec01.Label2' | translate }} </p>
<table class="table">
<tbody>
<tr>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/a.ogg">A</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/ami.ogg">ami</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/ia.ogg">ia</a></li>
                </ul>
            </li>
        </ul>


    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/h.ogg">H</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/horo.ogg">horo</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/hajlo.ogg">hajlo</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/o.ogg">O</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/oro.ogg">oro</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/ravo.ogg">ravo</a></li>
                </ul>
            </li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/b.ogg">B</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/bela.ogg">bela</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/bona.ogg">bona</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/hx.ogg">Ĥ</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/hxoro.ogg">ĥoro</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/ehxo.ogg">eĥo</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/p.ogg">P</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/peco.ogg">peco</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/peso.ogg">peso</a></li>
                </ul>
            </li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/c.ogg">C</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/celo.ogg">celo</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/scienco.ogg">scienco</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/i.ogg">I</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/ie.ogg">ie</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/gxeni.ogg">ĝeni</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/r.ogg">R</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/roko.ogg">roko</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/ero.ogg">ero</a></li>
                </ul>
            </li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/cx.ogg">Ĉ</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/cxio.ogg">ĉio</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/pecxo.ogg">peĉo</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/j.ogg">J</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/juro.ogg">juro</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/prujno.ogg">prujno</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/s.ogg">S</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/selo.ogg">selo</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/scii.ogg">scii</a></li>
                </ul>
            </li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/d.ogg">D</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/diri.ogg">diri</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/granda.ogg">granda</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/jx.ogg">Ĵ</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/jxuro.ogg">ĵuro</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/jxurnalo.ogg">ĵurnalo</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/sx.ogg">Ŝ</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/sxerco.ogg">ŝerco</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/sxia.ogg">ŝia</a></li>
                </ul>
            </li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/e.ogg">E</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/eskalo.ogg">eskalo</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/gxene.ogg">ĝene</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/k.ogg">K</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/knabo.ogg">knabo</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/hoko.ogg">hoko</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/t.ogg">T</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/tio.ogg">tio</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/felto.ogg">felto</a></li>
                </ul>
            </li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/f.ogg">F</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/feuxdo.ogg">feŭdo</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/feino.ogg">feino</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/l.ogg">L</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/sxelo.ogg">ŝelo</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/alto.ogg">alto</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/u.ogg">U</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/ju.ogg">ju</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/agu.ogg">agu</a></li>
                </ul>
            </li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/g.ogg">G</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/gusta.ogg">gusta</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/ago.ogg">ago</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/m.ogg">M</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/ame.ogg">ame</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/iam.ogg">iam</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/ux.ogg">Ŭ</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/auxto.ogg">aŭto</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/adiaux.ogg">adiaŭ</a></li>
                </ul>
            </li>
        </ul>
    </td>
</tr>
<tr>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/gx.ogg">Ĝ</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/gxiri.ogg">ĝiri</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/gxusta.ogg">ĝusta</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/n.ogg">N</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/knabo.ogg">knabo</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/ruino.ogg">ruino</a></li>
                </ul>
            </li>
        </ul>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/v.ogg">V</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/vejno.ogg">vejno</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/kvita.ogg">kvita</a></li>
                </ul>
            </li>
        </ul>
    </td>
</tr>
<tr>
    <td>
    </td>
    <td>
    </td>
    <td>
        <ul class="list-inline">
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/z.ogg">Z</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/pezo.ogg">pezo</a></li>
                </ul>
            </li>
            <li>
                <ul class="list-unstyled">
                    <li><a href="sounds/lec01/okazi.ogg">okazi</a></li>
                </ul>
            </li>
        </ul>
    </td>
</tr>
</tbody>
</table>
</div>