<div>Hello this is part 2 of leciono1<br/>
    <ul class="list-inline">
        <li>
            <ul class="list-unstyled">
                <li><a href="sounds/lec01/z.ogg">Z</a></li>
            </ul>
        </li>
        <li>
            <ul class="list-unstyled">
                <li><a href="sounds/lec01/pezo.ogg">pezo</a></li>
            </ul>
        </li>
        <li>
            <ul class="list-unstyled">
                <li><a href="sounds/lec01/okazi.ogg">okazi</a></li>
            </ul>
        </li>
    </ul></div>