<div>
    <p> <h4>{{ 'Lec01.Label12' | translate }} </h4></p>

    <div class="row">
        <div class="col-md-6">
            <p>{{ 'Lec01.Label131' | translate }} </p>
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/mi.ogg">mi</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label13' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/vi.ogg">vi</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label14' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/li.ogg">li</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label15' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/sxi.ogg">ŝi</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label16' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/gxi.ogg">ĝi</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label17' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6"><p>{{ 'Lec01.Label132' | translate }} </p>
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/ni.ogg">ni</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label18' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/vi.ogg">vi</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label19' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/ili.ogg">ili</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label20' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <p> <h4>{{ 'Lec01.Label133' | translate }} </h4></p>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/oni.ogg">oni</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label21' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/si.ogg">si</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label22' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>