<div><p> <h4>{{ 'Lec01.Label23' | translate }} </h4></p>
    <p> {{ 'Lec01.Label24' | translate }}</p>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/btn193.ogg">mi estas</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label114' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/btn194.ogg">li estis</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label115' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/btn195.ogg">ŝi estas</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label116' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/btn196.ogg">ĝi estos</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label117' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/btn197.ogg">ni estas</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label118' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/btn198.ogg">vi estis</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label119' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/btn199.ogg">ili estas</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label220' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/btn200.ogg">oni estos</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label221' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <p> <h4>{{ 'Lec01.Label25' | translate }} </h4></p>
        <p>{{ 'Lec01.Label27' | translate }} </p>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/amiko.ogg">amiko</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label28' | translate }}
                        </li>
                    </ul>
                </td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/frato.ogg">frato</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label29' | translate }}
                        </li>
                    </ul>
                </td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/kafo.ogg">kafo</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label30' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>

        <p> <h4>{{ 'Lec01.Label26' | translate }} </h4></p>
        <p>{{ 'Lec01.Label31' | translate }} </p>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/bela.ogg">bela</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label32' | translate }}
                        </li>
                    </ul>
                </td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/sana.ogg">sana</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label33' | translate }}
                        </li>
                    </ul>
                </td>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/varma.ogg">varma</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label34' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>