<div><p> <h4>{{ 'Lec01.Label35' | translate }} </h4></p>

<div class="row">
<div class="col-md-4">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/amiko.ogg">amiko</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label44' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/filo.ogg">filo</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label45' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/frato.ogg">frato</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label46' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/viro.ogg">viro</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label47' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/knabo.ogg">knabo</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label48' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/floro.ogg">floro</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label49' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/patro.ogg">patro</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label50' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/btn214.ogg">instruisto</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label51' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-4">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/kafo.ogg">kafo</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label52' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/kuko.ogg">kuko</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label53' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/lakto.ogg">lakto</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label54' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/pano.ogg">pano</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label55' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/sukero.ogg">sukero</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label56' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/teo.ogg">teo</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label57' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/biskvito.ogg">biskvito</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label58' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/bela.ogg">bela</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label60' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-4">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/granda.ogg">granda</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label61' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/nova.ogg">nova</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label62' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/bona.ogg">bona</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label63' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/seka.ogg">seka</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label64' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/blanka.ogg">blanka</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label65' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/varma.ogg">varma</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label66' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec01/sana.ogg">sana</a>
                    </li>
                    <li>
                        {{ 'Lec01.Label67' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>