<div><p> <h4>{{ 'Lec01.Label36' | translate }} </h4></p>
    <p>{{ 'Lec01.Label37' | translate }} </p>
    <div class="row">
        <div class="col-md-6">

            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/amiko.ogg">amiko</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label10' | translate }}
                            </li>
                        </ul>

                        <ul class="list-inline">
                            <li>
                                <img src="img/ikonoj/sago_revena.png" />
                            </li>
                            <li>
                                <a href="sounds/lec01/amikoj.ogg">amikoj</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label80' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/patro.ogg">patro</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label73' | translate }}
                            </li>
                        </ul>

                        <ul class="list-inline">
                            <li>
                                <img src="img/ikonoj/sago_revena.png" />
                            </li>
                            <li>
                                <a href="sounds/lec01/patroj.ogg">patroj</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label81' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/floro.ogg">floro</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label74' | translate }}
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li>
                                <img src="img/ikonoj/sago_revena.png" />
                            </li>
                            <li>
                                <a href="sounds/lec01/floroj.ogg">floroj</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label82' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/bela.ogg">bela</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label75' | translate }}
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li>
                                <img src="img/ikonoj/sago_revena.png" />
                            </li>
                            <li>
                                <a href="sounds/lec01/belaj.ogg">belaj</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label83' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/sana.ogg">sana</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label76' | translate }}
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li>
                                <img src="img/ikonoj/sago_revena.png" />
                            </li>
                            <li>
                                <a href="sounds/lec01/sanaj.ogg">sanaj</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label84' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/btn235.ogg">bela floro</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label77' | translate }}
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li>
                                <img src="img/ikonoj/sago_revena.png" />
                            </li>
                            <li>
                                <a href="sounds/lec01/btn259.ogg">belaj floroj</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label85' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/btn236.ogg">sana patro</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label78' | translate }}
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li>
                                <img src="img/ikonoj/sago_revena.png" />
                            </li>
                            <li>
                                <a href="sounds/lec01/btn260.ogg">sanaj patroj</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label86' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec01/btn237.ogg">bona amiko</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label79' | translate }}
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li>
                                <img src="img/ikonoj/sago_revena.png" />
                            </li>
                            <li>
                                <a href="sounds/lec01/btn261.ogg">bonaj amikoj</a>
                            </li>
                            <li>
                                {{ 'Lec01.Label87' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
