<div>
    <p> <h4>{{ 'Lec01.Label40' | translate }} </h4></p>
    <p>{{ 'Lec01.Label41' | translate }} </p>
    <ul class="list-inline">
        <li>
            <a href="sounds/lec01/mi.ogg">mi</a>
        </li>
        <li>
            <img src="img/ikonoj/sago_antauen.png"/>
        </li>
        <li>
            <a href="sounds/lec01/mia.ogg">mia</a>
        </li>
        <li>
            {{ 'Lec01.Label11' | translate }}
        </li>
    </ul>

    <ul class="list-inline">
        <li>
            <a href="sounds/lec01/vi.ogg">vi</a>
        </li>
        <li>
            <img src="img/ikonoj/sago_antauen.png"/>
        </li>
        <li>
            <a href="sounds/lec01/via.ogg">via</a>
        </li>
        <li>
            {{ 'Lec01.Label70' | translate }}
        </li>
    </ul>
    <ul class="list-inline">
        <li>
            <a href="sounds/lec01/sxi.ogg">ŝi</a>
        </li>
        <li>
            <img src="img/ikonoj/sago_antauen.png"/>
        </li>
        <li>
            <a href="sounds/lec01/sxia.ogg">ŝia</a>
        </li>
        <li>
            {{ 'Lec01.Label71' | translate }}
        </li>
    </ul>
    <ul class="list-inline">
        <li>
            <a href="sounds/lec01/li.ogg">li</a>
        </li>
        <li>
            <img src="img/ikonoj/sago_antauen.png"/>
        </li>
        <li>
            <a href="sounds/lec01/lia.ogg">lia</a>
        </li>
        <li>
            {{ 'Lec01.Label72' | translate }}
        </li>
    </ul>
    <ul class="list-inline">
        <li>
            <a href="sounds/lec01/gxi.ogg">ĝi</a>
        </li>
        <li>
            <img src="img/ikonoj/sago_antauen.png"/>
        </li>
        <li>
            <a href="sounds/lec01/gxia.ogg">ĝia</a>
        </li>
        <li>
            {{ 'Lec01.Label92' | translate }}
        </li>
    </ul>
    <ul class="list-inline">
        <li>
            <a href="sounds/lec01/ni.ogg">ni</a>
        </li>
        <li>
            <img src="img/ikonoj/sago_antauen.png"/>
        </li>
        <li>
            <a href="sounds/lec01/nia.ogg">nia</a>
        </li>
        <li>
            {{ 'Lec01.Label93' | translate }}
        </li>
    </ul>
    <ul class="list-inline">
        <li>
            <a href="sounds/lec01/ili.ogg">ili</a>
        </li>
        <li>
            <img src="img/ikonoj/sago_antauen.png"/>
        </li>
        <li>
            <a href="sounds/lec01/ilia.ogg">ilia</a>
        </li>
        <li>
            {{ 'Lec01.Label94' | translate }}
        </li>
    </ul>
    <div class="row">
        <div class="col-md-10">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>
                        <p> <h4>{{ 'Lec01.Label69' | translate }} </h4></p>
                        <p>{{ 'Lec01.Label42' | translate }} </p>

                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-inline">
                                    <li>
                                        <a href="sounds/lec01/btn252.ogg">mia amiko</a>
                                    </li>
                                    <li>
                                        {{ 'Lec01.Label95' | translate }}
                                    </li>
                                </ul>

                                <ul class="list-inline">
                                    <li>
                                        <img src="img/ikonoj/sago_revena.png"/>
                                    </li>
                                    <li>
                                        <a href="sounds/lec01/btn267.ogg">miaj amikoj</a>
                                    </li>
                                    <li>
                                        {{ 'Lec01.Label96' | translate }}
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-6">
                                <ul class="list-inline">
                                    <li>
                                        <a href="sounds/lec01/btn253.ogg">nia floro</a>
                                    </li>
                                    <li>
                                        {{ 'Lec01.Label97' | translate }}
                                    </li>
                                </ul>

                                <ul class="list-inline">
                                    <li>
                                        <img src="img/ikonoj/sago_revena.png"/>
                                    </li>
                                    <li>
                                        <a href="sounds/lec01/btn266.ogg">niaj floroj</a>
                                    </li>
                                    <li>
                                        {{ 'Lec01.Label98' | translate }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
