<div><p> <h4>{{ 'Lec01.Label38' | translate }} </h4></p>
<p>{{ 'Lec01.Label39' | translate }} </p>

<div class="row">
    <div class="col-md-6">

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/btn238.ogg">la knabo</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label88' | translate }}
                        </li>
                    </ul>

                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/sago_revena.png"/>
                        </li>
                        <li>
                            <a href="sounds/lec01/knabo.ogg">knabo</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label100' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/btn240.ogg">la floroj</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label89' | translate }}
                        </li>
                    </ul>

                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/sago_revena.png"/>
                        </li>
                        <li>
                            <a href="sounds/lec01/floroj.ogg">floroj</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label101' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/btn239.ogg">la pano</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label90' | translate }}
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/sago_revena.png"/>
                        </li>
                        <li>
                            <a href="sounds/lec01/pano.ogg">pano</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label102' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/btn241.ogg">la patroj</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label91' | translate }}
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/sago_revena.png"/>
                        </li>
                        <li>
                            <a href="sounds/lec01/patroj.ogg">partoj</a>
                        </li>
                        <li>
                            {{ 'Lec01.Label103' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<p> <h4>{{ 'Lec01.Label43' | translate }} </h4></p>

<div class="row">
    <div class="col-md-6">

        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/btn246.ogg">Viaj filoj estas niaj amikoj</a>
                        </li>
                    </ul>

                    <ul class="list-inline">
                        <li>
                            {{ 'Lec01.Label104' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/btn247.ogg">Varma lakto estas bona</a>
                        </li>
                    </ul>

                    <ul class="list-inline">
                        <li>
                            {{ 'Lec01.Label105' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/btn248.ogg">La knaboj estas grandaj</a>
                        </li>
                    </ul>

                    <ul class="list-inline">
                        <li>
                            {{ 'Lec01.Label106' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/btn249.ogg">La pano estas seka</a>
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            {{ 'Lec01.Label107' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/btn250.ogg">Floro estas bela</a>
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            {{ 'Lec01.Label108' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec01/btn251.ogg">La patro estas bona</a>
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            {{ 'Lec01.Label109' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>
