<div>
    <p> <h4>{{ 'Lec01.Label3' | translate }} </h4></p>
    <p> {{ 'Lec01.Label6' | translate }}</p>

    <div class="row">
        <div class="col-md-11">
            <table class="table table-bordered ">
                <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-5">
                                <a href="" ng-click="p2.turnOn()"><img
                                        src="img/ikonoj/ekzercoj/komenci{{ (p2.on || '') && '-disabled'}}.png"/></a>
                                <a href="" ng-click="p2.turnOff()"><img
                                        src="img/ikonoj/ekzercoj/halti{{ (!p2.on || '') && '-disabled'}}.png"/> </a>
                            </div>
                        </div>
                        <br/>

                        <div class="row">
                            <div class="col-md-7">
                                <ul class="list-inline">
                                    <li>
                                        <ul class="list-inline well">
                                            <li>
                                                <img src="img/ikonoj/kubeto.png"/>
                                            </li>
                                            <li><span
                                                    class="lead">{{p2.remainList.length+p2.unclickedList.length}}</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <h5>vortoj</h5>
                                        <ul class="list-unstyled">
                                            <li>
                                                <input type="checkbox"> 1
                                            </li>
                                            <li>
                                                <input type="checkbox"> 2
                                            </li>
                                            <li>
                                                <input type="checkbox"> 4
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <table class="table">
                                    <tbody>
                                    <tr ng-repeat="trList in p2.randomList track by $index">
                                        <td ng-repeat="value in trList track by $index">
                                            <a href="" ng-click="p2.clickBtn(value)"
                                               class="btn btn-default btn-block {{ (!p2.on || '') && 'disabled'}} {{p2.activeBtn(value)}}">{{value}}</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-2 col-md-offset-1">
                                <ul class="list-unstyled">
                                    <li>
                                        <a href="" ng-click=""><img
                                                src="img/ikonoj/ekzercoj/paroli-denove.png"/> </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click=""><img
                                                src="img/ikonoj/ekzercoj/auskultu-denove.png"/> </a>
                                    </li>
                                    <li>
                                        <a href="" ng-click=""><img
                                                src="img/ikonoj/ekzercoj/antauen.png"/> </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-1">
                                        <ul class="list-inline">
                                            <li>
                                                <img src="img/ikonoj/kronometro.png"/>
                                            </li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    Hello this is part 9 of leciono1 <img style="width: 200px" src="img/ikonoj/workInProgress.jpg"/></div>