<div class="container">
    <div class="jumbotron">
    <h1>Kurso de Esperanto (webapp)</h1>
    <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p>To see the difference between static and fixed top navbars, just scroll.</p>
</div>
    <div class="row">
        <div class="col-xs-4 col-md-offset-1">
            <a href="#/leciono1/1" ng-mouseover="status1='-over'" ng-mouseleave="status1=''"><img src="img/ikonoj/hejmo/leciono01{{status1}}.png" /> </a>
        </div>
        <div class="col-xs-4">
            <a href="#/leciono2/1" ng-mouseover="status2='-over'" ng-mouseleave="status2=''"> <img src="img/ikonoj/hejmo/leciono02{{status2}}.png" /> </a>
        </div>
        <div class="col-xs-3">
            <a href="#/leciono3/1" ng-mouseover="status3='-over'" ng-mouseleave="status3=''"> <img src="img/ikonoj/hejmo/leciono03{{status3}}.png" /> </a>
        </div>
    </div>
    </div>