<div class="container">
    <div class="jumbotron">
        <h1>Kurso de Esperanto (webapp)</h1>
        <p>{{ 'Ekzerco-0802.21' | translate }}</p>
    </div>
    <div class="row">
        <div class="col-md-3 ">
            <div class="row">
                <div class="col-md-12 col-md-offset-3 ">
                    <a href="#/leciono1/1" ng-mouseover="status1='-over'" ng-mouseleave="status1=''"><img
                            src="img/ikonoj/hejmo/leciono01{{status1}}.png"/> </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 col-md-offset-3 ">
                    <a href="#/leciono2/1" ng-mouseover="status2='-over'" ng-mouseleave="status2=''"> <img
                            src="img/ikonoj/hejmo/leciono02{{status2}}.png"/> </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 col-md-offset-3 ">
                    <a href="#/leciono3/1" ng-mouseover="status3='-over'" ng-mouseleave="status3=''"> <img
                            src="img/ikonoj/hejmo/leciono03{{status3}}.png"/> </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12 col-md-offset-3 ">
                        <a href="#/leciono4/1" ng-mouseover="status4='-over'" ng-mouseleave="status4=''"> <img
                                src="img/ikonoj/hejmo/leciono04{{status4}}.png"/> </a>
                    </div>
            </div>
        </div>
    </div>
</div>