<div class="container">
    <div class="jumbotron">
        <h1>Kurso de Esperanto (webapp)</h1>

        <p>{{ 'Ekzerco-0802.21' | translate }}</p>
    </div>
    <div class="row">
        <div class="col-xs-4 col-md-offset-1">
            <a href="#/leciono1/1" ng-mouseover="status1='-over'" ng-mouseleave="status1=''"><img
                    src="img/ikonoj/hejmo/leciono01{{status1}}.png"/> </a>
        </div>
        <div class="col-xs-4">
            <a href="#/leciono2/1" ng-mouseover="status2='-over'" ng-mouseleave="status2=''"> <img
                    src="img/ikonoj/hejmo/leciono02{{status2}}.png"/> </a>
        </div>
        <div class="col-xs-3">
            <a href="#/leciono3/1" ng-mouseover="status3='-over'" ng-mouseleave="status3=''"> <img
                    src="img/ikonoj/hejmo/leciono03{{status3}}.png"/> </a>
        </div>
    </div>
</div>