<div><p> <h4>{{ 'Lec02.Label131' | translate }} </h4></p>
<p>{{ 'Lec02.Label132' | translate }} </p>
<p>{{ 'Lec02.Label133' | translate }} </p>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/viro.ogg">viro</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label11' | translate }}
                        </li>
                    </ul>

                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/sago_revena.png" />
                        </li>
                        <li>
                            <a href="sounds/lec02/virino.ogg">virino</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label134' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/amiko.ogg">amiko</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label12' | translate }}
                        </li>
                    </ul>

                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/sago_revena.png" />
                        </li>
                        <li>
                            <a href="sounds/lec02/amikino.ogg">amikino</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label135' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/filo.ogg">filo</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label13' | translate }}
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/sago_revena.png" />
                        </li>
                        <li>
                            <a href="sounds/lec02/filino.ogg">filino</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label136' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/patro.ogg">patro</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label14' | translate }}
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/sago_revena.png" />
                        </li>
                        <li>
                            <a href="sounds/lec02/patrino.ogg">patrino</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label137' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/btn258.ogg">la grandaj virinoj</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label138' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/btn1.ogg">la bela amikino</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label1' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/btn11.ogg">la bona patrino</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label16' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
