<div>
    <div>
        <p> <h4>{{ 'Lec02.Label139' | translate }} </h4></p>
        <p>{{ 'Lec02.Label140' | translate }}</p>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/btn259.ogg">Mi lavas la novan tason.</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label19' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/btn260.ogg">Mi lavas la novajn tasojn</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label20' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <p>{{ 'Lec02.Label143' | translate }}</p>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/btn261.ogg">Mi lavas la novan tason.</a>
                        </li>
                    </ul>

                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/egala.png"/>
                        </li>
                        <li>
                            <a href="sounds/lec02/btn262.ogg">La novan tason lavas mi</a>
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/egala.png"/>
                        </li>
                        <li>
                            <a href="sounds/lec02/btn263.ogg">La novan tason mi lavas</a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-md-10">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>
                        <p> <h4>{{ 'Lec02.Label7' | translate }} </h4></p>
                        <p>{{ 'Lec02.Label144' | translate }} </p>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>
                        <p> <h4>{{ 'Lec02.Label8' | translate }} </h4></p>
                        <p>{{ 'Lec02.Label145' | translate }} </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>