<div><p> <h4>{{ 'Lec02.Label146' | translate }} </h4></p>
<p>{{ 'Lec02.Label147' | translate }} </p>
<div class="row">
    <div class="col-md-3">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/amiko.ogg">amiko</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label10' | translate }}
                        </li>
                    </ul>

                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/sago_revena.png" />
                        </li>
                        <li>
                            <a href="sounds/lec02/malamiko.ogg">malamiko</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label80' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/bela.ogg">bela</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label73' | translate }}
                        </li>
                    </ul>

                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/sago_revena.png" />
                        </li>
                        <li>
                            <a href="sounds/lec02/malbela.ogg">malbela</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label81' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/nova.ogg">nova</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label76' | translate }}
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/sago_revena.png" />
                        </li>
                        <li>
                            <a href="sounds/lec02/malnova.ogg">malnova</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label84' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/juna.ogg">juna</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label77' | translate }}
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/sago_revena.png" />
                        </li>
                        <li>
                            <a href="sounds/lec02/maljuna.ogg">maljuna</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label85' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/avara.ogg">avara</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label77' | translate }}
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/sago_revena.png" />
                        </li>
                        <li>
                            <a href="sounds/lec02/malavara.ogg">malavara</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label85' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
    <div>
        <p> <h4>{{ 'Lec02.Label151' | translate }} </h4></p>
        <p>{{ 'Lec02.Label152' | translate }}</p>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/btn267.ogg">Mi ne lavos la novan tason.</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label21' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/btn268.ogg">Li ne estas mia frato.</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label154' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/btn269.ogg">Ŝi ne estas mia patrino.</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label155' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec02/btn270.ogg">La kukuj ne estis varmaj.</a>
                        </li>
                        <li>
                            {{ 'Lec02.Label156' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>