<div><p> <h4>{{ 'Lec02.Label50' | translate }} </h4></p>
    <div class="row">
        <div class="col-md-6">
            <p> {{ 'Lec02.Label49' | translate }}</p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <video id="example_video_1" class="video-js vjs-default-skin"
                           controls preload="auto" width="500" height="264"
                           poster="img/ikonoj/noteto.png"
                           data-setup='{"example_option":true}'>
                        <source src="videos/lec02/jen_video.ogv" type='video/ogg'/>
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>