<div><p> <h4>{{ 'Lec02.Label157' | translate }} </h4></p>

<div class="row">
<div class="col-md-4">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/akvo.ogg">akvo</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label158' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/ami.ogg">ami</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label159' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/amo.ogg">amo</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label160' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/birdo.ogg">birdo</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label161' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/butiko.ogg">butiko</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label162' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/fari.ogg">fari</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label163' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/forgesi.ogg">forgesi</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label164' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/havi.ogg">havi</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label165' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/insekto.ogg">insekto</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label166' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-4">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/kapti.ogg">kapti</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label167' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/lavi.ogg">lavi</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label168' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/limonado.ogg">limonado</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label169' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/papero.ogg">papero</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label170' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/peti.ogg">peti</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label171' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/plumo.ogg">plumo</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label172' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/porti.ogg">porti</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label173' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/pura.ogg">pura</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label174' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-4">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/renkonti.ogg">renkonti</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label175' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/skribi.ogg">skribi</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label176' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/sukeri.ogg">sukeri</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label177' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/taso.ogg">taso</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label178' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/trinki.ogg">trinki</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label179' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/trovi.ogg">trovi</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label180' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/vendi.ogg">vendi</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label181' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec02/vidi.ogg">vidi</a>
                    </li>
                    <li>
                        {{ 'Lec02.Label182' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>