<div>
    <p>{{ 'Lec04.Label7' | translate }} </p>
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <ul class="list-unstyled">
                            <li><a href="sounds/lec04/saluton.ogg">Saluton !</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-unstyled">
                            <li>{{ 'Lec04.Label404' | translate }} </li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <ul class="list-unstyled">
                            <li><a href="sounds/lec04/btn459.ogg">Bonan tagon !</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-unstyled">
                            <li>{{ 'Lec04.Label405' | translate }} </li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <ul class="list-unstyled">
                            <li><a href="sounds/lec04/btn460.ogg">Bonan matenon !</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-unstyled">
                            <li>{{ 'Lec04.Label406' | translate }} </li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <ul class="list-unstyled">
                            <li><a href="sounds/lec04/btn461.ogg">Bonan vesperon !</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-unstyled">
                            <li>{{ 'Lec04.Label407' | translate }} </li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <ul class="list-unstyled">
                            <li><a href="sounds/lec04/btn462.ogg">Bonan nokton !</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-unstyled">
                            <li>{{ 'Lec04.Label408' | translate }} </li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <ul class="list-unstyled">
                            <li><a href="sounds/lec04/btn463.ogg">Kiel vi fartas ?</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-unstyled">
                            <li>{{ 'Lec04.Label409' | translate }} </li>
                        </ul>
                    </li>
                </ul>
                <ul class="list-inline">
                    <li>
                        <img src="img/ikonoj/sago_revena.png" />
                    </li>
                    <li>
                        <a href="sounds/lec04/btn464.ogg">Bone, dankon. Kaj vi ?</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label410' | translate }}
                    </li>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-1">
                            <ul class="list-inline">
                                <li>
                                    <img src="img/ikonoj/sago_revena.png" />
                                </li>
                                <li>
                                    <a href="sounds/lec04/btn465.ogg">Sufiĉe bone.</a>
                                </li>
                                <li>
                                    {{ 'Lec04.Label411' | translate }}
                                </li>
                            </ul>
                            <ul class="list-inline">
                                <li>
                                    <img src="img/ikonoj/sago_revena.png" />
                                </li>
                                <li>
                                    <a href="sounds/lec04/btn466.ogg">Ne tre bone.</a>
                                </li>
                                <li>
                                    {{ 'Lec04.Label412' | translate }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>