<div>
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <ul class="list-unstyled">
                            <li><a href="sounds/lec04/btn1.ogg">Bonan appetiton !</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-unstyled">
                            <li>{{ 'Lec04.Label11' | translate }} </li>
                        </ul>
                    </li>
                </ul>
                <ul class="list-inline">
                    <li>
                        <img src="img/ikonoj/sago_revena.png" />
                    </li>
                    <li>
                        <a href="sounds/lec04/btn3.ogg">Same al vi. dankon !</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label13' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <ul class="list-unstyled">
                            <li><a href="sounds/lec04/btn2.ogg">Je via sano !</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-unstyled">
                            <li>{{ 'Lec04.Label12' | translate }} </li>
                        </ul>
                    </li>
                </ul>
             </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <ul class="list-unstyled">
                            <li><a href="sounds/lec04/btn4.ogg">Ĝis revido !</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-unstyled">
                            <li>{{ 'Lec04.Label14' | translate }} </li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <ul class="list-unstyled">
                            <li><a href="sounds/lec04/btn5.ogg">Adiaŭ !</a></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-unstyled">
                            <li>{{ 'Lec04.Label15' | translate }} </li>
                        </ul>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>



    <p> <h4>{{ 'Lec04.Label20' | translate }} </h4></p>

    <div class="row">
    <div class="col-md-4">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec04/dimancxo.ogg">dimanĉo</a>
                        </li>
                        <li>
                            {{ 'Lec04.Label317' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec04/lundo.ogg">lundo</a>
                        </li>
                        <li>
                            {{ 'Lec04.Label318' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec04/mardo.ogg">mardo</a>
                        </li>
                        <li>
                            {{ 'Lec04.Label319' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec04/merkredo.ogg">merkredo</a>
                        </li>
                        <li>
                            {{ 'Lec04.Label320' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec04/jxauxdo.ogg">ĵaŭdo</a>
                        </li>
                        <li>
                            {{ 'Lec04.Label321' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec04/vendredo.ogg">vendredo</a>
                        </li>
                        <li>
                            {{ 'Lec04.Label322' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec04/sabato.ogg">sabato</a>
                        </li>
                        <li>
                            {{ 'Lec04.Label323' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec04/hieraux.ogg">hieraŭ</a>
                        </li>
                        <li>
                            {{ 'Lec04.Label3' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec04/hodiaux.ogg">hodiaŭ</a>
                        </li>
                        <li>
                            {{ 'Lec04.Label4' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec04/morgaux.ogg">morgaŭ</a>
                        </li>
                        <li>
                            {{ 'Lec04.Label19' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    
</div>