<div>
    <p> <h4>{{ 'Lec04.Label21' | translate }} </h4></p>

    <div class="row">
        <div class="col-md-4">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/januaro.ogg">januaro</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label325' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/februaro.ogg">februaro</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label326' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/marto.ogg">marto</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label327' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/aprilo.ogg">aprilo</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label328' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/majo.ogg">majo</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label329' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/junio.ogg">junio</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label330' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/julio.ogg">julio</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label331' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/auxgusto.ogg">agaŭsto</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label332' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/btn406.ogg">septembro</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label333' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/oktobro.ogg">oktobro</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label334' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/novembro.ogg">novembro</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label335' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/decembro.ogg">decembro</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label336' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <p> <h4>{{ 'Lec04.Label26' | translate }} </h4></p>
    <p>{{ 'Lec04.Label22' | translate }} </p>
    <ul class="list-inline">
        <li>
            13 jan. 1964
        </li>
        <li>
            <img src="img/ikonoj/sago_antauen.png"/>
        </li>
        <li>
            La dektria (tago) de januaro (en la jaro) mil naŭcent sesdek kvar.
        </li>
    </ul>
    <ul class="list-inline">
        <li>
            4 dec. 1958
        </li>
        <li>
            <img src="img/ikonoj/sago_antauen.png"/>
        </li>
        <li>
            La kvara de decembro mil naŭcent kvindek ok.
        </li>
    </ul>
    <ul class="list-inline">
        <li>
            17 jul. 1887
        </li>
        <li>
            <img src="img/ikonoj/sago_antauen.png"/>
        </li>
        <li>
            La dekkvara de julio mil okcent okdek sep.
        </li>
    </ul>
</div>