<div><p> <h4>{{ 'Lec04.Label10' | translate }} </h4></p>
    <p> {{ 'Lec04.Label315' | translate }}</p>
    <p> <strong>{{ 'Lec04.Label298' | translate }}</strong> </p>
    <ul class="list-inline">
        <li>
            <a href="sounds/lec04/btn387.ogg">La pano estas seka.</a>
        </li>
        <li>
            {{ 'Lec04.Label299' | translate }}
        </li>
    </ul>
    <p> <strong>{{ 'Lec04.Label300' | translate }}</strong> </p>
    <ul class="list-inline">
        <li>
            <a href="sounds/lec04/btn388.ogg">Ĉu la pano estas seka?</a>
        </li>
        <li>
            {{ 'Lec04.Label301' | translate }}
        </li>
    </ul>
    <p> <strong>{{ 'Lec04.Label311' | translate }}</strong> </p>
    <ul class="list-inline">
        <li>
            <a href="sounds/lec04/btn389.ogg">Jes, la pano estas seka.</a>
        </li>
        <li>
            {{ 'Lec04.Label312' | translate }}
        </li>
    </ul>
    <ul class="list-inline">
    <li>
        <a href="sounds/lec04/btn390.ogg">Ne, la pano ne estas seka.</a>
    </li>
    <li>
        {{ 'Lec04.Label314' | translate }}
    </li>
    </ul>
</div>