<div><p> <h4>{{ 'Lec04.Label18' | translate }} </h4></p>
<div class="row">
<div class="col-md-6">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/infano.ogg">infano</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label361' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/jxurnalo.ogg">ĵurnalo</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label360' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/kaj.ogg">kaj</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label362' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/kongreso.ogg">kongreso</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label363' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/kolekti.ogg">kolekti</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label364' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/lando.ogg">lando</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label365' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/veni.ogg">veni</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label366' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/leciono.ogg">leciono</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label367' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/lernejo.ogg">lernejo</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label368' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/libro.ogg">libro</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label369' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/mejlo.ogg">mejlo</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label370' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/mangxi.ogg">manĝi</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label371' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/monujo.ogg">monujo</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label372' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/ovo.ogg">ovo</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label373' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/btn447.ogg">neŭtrala</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label374' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/btn449.ogg">poŝtmarko</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label376' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/btn451.ogg">sandviĉo</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label378' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/sporto.ogg">sporto</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label379' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/sxuo.ogg">ŝuo</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label380' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec04/vojagxi.ogg">vojaĝi</a>
                    </li>
                    <li>
                        {{ 'Lec04.Label383' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>