<div><p> <h4>{{ 'Lec04.Label8' | translate }} </h4></p>
    <p>{{ 'Lec04.Label418' | translate }} </p>

    <div class="row">
        <div class="col-md-11 well">
            <p>Mia nomo estas Petro. Mi vivas en Brazilo. Mi komencis lerni Esperanton antaŭ kvar semajnoj. Ĝi estas tre
                facila lingvo. Mi loĝas en domo kun mia edzino kaj niaj infanoj. Ni havas unu filon kaj du filinojn. Mi
                kolektas poŝtmarkojn kaj bildkartojn kaj ŝatas interŝanĝi ilin kun esperantistoj en aliaj landoj.</p>

        </div>
    </div>
    <ul class="list-inline">
        <li>
            <a ng-click="playMemo();memoPlaying=true"><img
                    src="img/ikonoj/ekzercoj/komenci{{ (memoPlaying|| '') && '-disabled'}}.png"></a>
        </li>
        <li>
            <a ng-click="stopMemo();memoPlaying=false"><img
                    src="img/ikonoj/ekzercoj/halti{{ (!memoPlaying || '') && '-disabled'}}.png"></a>
        </li>
    </ul>

    <p> <h4>{{ 'Lec04.Label18' | translate }} </h4></p>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/lerni.ogg">lerni</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label420' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/tre.ogg">tre</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label421' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/antaux.ogg">antaŭ</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label17' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/btn475.ogg">interŝanĝi</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label423' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/komenci.ogg">komenci</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label425' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/facila.ogg">facila</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label426' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec04/alia.ogg">alia</a>
                            </li>
                            <li>
                                {{ 'Lec04.Label428' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
