<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked well" style="max-width: 300px;">
            <li ng-class="isActive('/leciono2/1')"><a href="#/leciono2/1">{{ 'Lec02.Label131' | translate }}</a></li>
            <li ng-class="isActive('/leciono2/2')"><a href="#/leciono2/2">{{ 'Lec02.Label139' | translate }}</a></li>
            <li ng-class="isActive('/leciono2/3')"><a href="#/leciono2/3">{{ 'Lec02.Label146' | translate }}</a></li>
            <li ng-class="isActive('/leciono2/4')"><a href="#/leciono2/4">{{ 'Lec02.Label50' | translate }}</a></li>
            <li ng-class="isActive('/leciono2/5')"><a href="#/leciono2/5">{{ 'Lec02.Label157' | translate }}</a></li>
            <li ng-class="isActive('/leciono2/6')"><a href="#/leciono2/6">{{ 'Gheneralaj.TFrame2.PP_Label1' | translate
                }}</a></li>
            <li ng-class="isActive('/leciono2/7')"><a href="#/leciono2/7">{{ 'Lec02.Label183' | translate }}</a></li>
            <li ng-class="isActive('/leciono2/8')"><a href="#/leciono2/8">{{ 'Lec02.Label83' | translate }}</a></li>
            <li ng-class="isActive('/leciono2/9')"><a href="#/leciono2/9">{{ 'Lec02.Label2' | translate }}</a></li>
            <li ng-class="isActive('/leciono2/10')"><a href="#/leciono2/10">{{ 'Lec02.Label83' | translate }}</a></li>
            <li ng-class="isActive('/leciono2/11')"><a href="#/leciono2/11">{{ 'Lec02.Label236' | translate }}</a></li>
        </ul>
    </div>
    <div class="col-md-9">
    <leciono2p1 ng-show="isActive('/leciono2/1')"></leciono2p1>
    <leciono2p2 ng-show="isActive('/leciono2/2')"></leciono2p2>
    <leciono2p3 ng-show="isActive('/leciono2/3')"></leciono2p3>
    <leciono2p4 ng-show="isActive('/leciono2/4')"></leciono2p4>
    <leciono2p5 ng-show="isActive('/leciono2/5')"></leciono2p5>
    <leciono2p6 ng-show="isActive('/leciono2/6')"></leciono2p6>
    <leciono2p7 ng-show="isActive('/leciono2/7')"></leciono2p7>
    <leciono2p8 ng-show="isActive('/leciono2/8')"></leciono2p8>
    <leciono2p9 ng-show="isActive('/leciono2/9')"></leciono2p9>
    <leciono2p10 ng-show="isActive('/leciono2/10')"></leciono2p10>
    <leciono2p11 ng-show="isActive('/leciono2/11')"></leciono2p11>
    <leciono2p12 ng-show="isActive('/leciono2/12')"></leciono2p12>
</div>