<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked well" style="max-width: 300px;">
            <li ng-class="isActive('/leciono4/1')"><a href="#/leciono4/1">{{ 'Lec04.Label7' | translate }}</a></li>
            <li ng-class="isActive('/leciono4/2')"><a href="#/leciono4/2">{{ 'Lec04.Label20' | translate }}</a></li>
            <li ng-class="isActive('/leciono4/3')"><a href="#/leciono4/3">{{ 'Lec04.Label21' | translate }}</a></li>
            <li ng-class="isActive('/leciono4/4')"><a href="#/leciono4/4">{{ 'Lec04.Label10' | translate }}</a></li>
            <li ng-class="isActive('/leciono4/5')"><a href="#/leciono4/5">{{ 'Lec04.Label18' | translate }}</a></li>
            <li ng-class="isActive('/leciono4/6')"><a href="#/leciono4/6">{{ 'Lec04.Label8' | translate }}</a></li>
            <li ng-class="isActive('/leciono4/7')"><a href="#/leciono4/7">{{ 'Gheneralaj.TFrame2.PP_Label1' | translate }}</a></li>
            <li ng-class="isActive('/leciono4/8')"><a href="#/leciono4/8">{{ 'Lec04.Label183' | translate }}</a></li>
            <li ng-class="isActive('/leciono4/9')"><a href="#/leciono4/9">{{ 'Lec04.Label2' | translate }}</a></li>
            <li ng-class="isActive('/leciono4/10')"><a href="#/leciono4/10">{{ 'Lec04.Label5' | translate }}</a></li>
            <li ng-class="isActive('/leciono4/11')"><a href="#/leciono4/11">{{ 'Lec04.Label6' | translate }}</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <leciono4p1 ng-show="isActive('/leciono4/1')"></leciono4p1>
        <leciono4p2 ng-show="isActive('/leciono4/2')"></leciono4p2>
        <leciono4p3 ng-show="isActive('/leciono4/3')"></leciono4p3>
        <leciono4p4 ng-show="isActive('/leciono4/4')"></leciono4p4>
        <leciono4p5 ng-show="isActive('/leciono4/5')"></leciono4p5>
        <leciono4p6 ng-show="isActive('/leciono4/6')"></leciono4p6>
        <leciono4p7 ng-show="isActive('/leciono4/7')"></leciono4p7>
        <leciono4p8 ng-show="isActive('/leciono4/8')"></leciono4p8>
        <leciono4p9 ng-show="isActive('/leciono4/9')"></leciono4p9>
        <leciono4p10 ng-show="isActive('/leciono4/10')"></leciono4p10>
        <leciono4p11 ng-show="isActive('/leciono4/11')"></leciono4p11>
    </div>
</div>




