<div class="row">
<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked well" style="max-width: 300px;">
        <li ng-class="isActive('/leciono1/1')"><a href="#/leciono1/1">{{ 'Lec01.Label4' | translate }}</a></li>
        <li ng-class="isActive('/leciono1/2')"><a href="#/leciono1/2">{{ 'Lec01.Label3' | translate }}</a></li>
        <li ng-class="isActive('/leciono1/3')"><a href="#/leciono1/3">{{ 'Lec01.Label12' | translate }}</a></li>
        <li ng-class="isActive('/leciono1/4')"><a href="#/leciono1/4">{{ 'Lec01.Label23' | translate }}</a></li>
        <li ng-class="isActive('/leciono1/5')"><a href="#/leciono1/5">{{ 'Lec01.Label35' | translate }}</a></li>
        <li ng-class="isActive('/leciono1/6')"><a href="#/leciono1/6">{{ 'Lec01.Label36' | translate }}</a></li>
        <li ng-class="isActive('/leciono1/7')"><a href="#/leciono1/7">{{ 'Lec01.Label40' | translate }}</a></li>
        <li ng-class="isActive('/leciono1/8')"><a href="#/leciono1/8">{{ 'Lec01.Label38' | translate }}</a></li>
        <li ng-class="isActive('/leciono1/9')"><a href="#/leciono1/9">{{ 'Gheneralaj.TFrame2.PP_Label1' | translate }}</a></li>
        <li ng-class="isActive('/leciono1/10')"><a href="#/leciono1/10">{{ 'Lec01.Label59' | translate }}</a></li>
        <li ng-class="isActive('/leciono1/11')"><a href="#/leciono1/11">{{ 'Gheneralaj.TFrame4.Label83' | translate }}</a></li>
        <li ng-class="isActive('/leciono1/12')"><a href="#/leciono1/12">{{ 'Lec01.Label99' | translate }}</a></li>
    </ul>
</div>
<div class="col-md-9">
    <leciono1p1 ng-show="isActive('/leciono1/1')"></leciono1p1>
    <leciono1p2 ng-show="isActive('/leciono1/2')"></leciono1p2>
    <leciono1p3 ng-show="isActive('/leciono1/3')"></leciono1p3>
    <leciono1p4 ng-show="isActive('/leciono1/4')"></leciono1p4>
    <leciono1p5 ng-show="isActive('/leciono1/5')"></leciono1p5>
    <leciono1p6 ng-show="isActive('/leciono1/6')"></leciono1p6>
    <leciono1p7 ng-show="isActive('/leciono1/7')"></leciono1p7>
    <leciono1p8 ng-show="isActive('/leciono1/8')"></leciono1p8>
    <leciono1p9 ng-show="isActive('/leciono1/9')"></leciono1p9>
    <leciono1p10 ng-show="isActive('/leciono1/10')"></leciono1p10>
    <leciono1p11 ng-show="isActive('/leciono1/11')"></leciono1p11>
    <leciono1p12 ng-show="isActive('/leciono1/12')"></leciono1p12>
</div>
</div>




