<div>
    <p> <h4>{{ 'Lec03.Label5' | translate }} </h4></p>
    <p> {{ 'Lec03.Label254' | translate }}</p>
    <p> {{ 'Lec03.Label255' | translate }}</p>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec03/sano.ogg">sano</a>
                            </li>
                            <li>
                                {{ 'Lec03.Label256' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec03/sana.ogg">sana</a>
                            </li>
                            <li>
                                {{ 'Lec03.Label257' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec03/sani.ogg">sani</a>
                            </li>
                            <li>
                                {{ 'Lec03.Label258' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec03/sane.ogg">sane</a>
                            </li>
                            <li>
                                {{ 'Lec03.Label259' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec03/btn300.ogg">Li havas bonan sanon.</a>
                            </li>
                            <li>
                                {{ 'Lec03.Label1' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec03/btn301.ogg">Li estas sana.</a>
                            </li>
                            <li>
                                {{ 'Lec03.Label2' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec03/btn302.ogg">Li sanas</a>
                            </li>
                            <li>
                                {{ 'Lec03.Label3' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec03/btn303.ogg">Li sane vivas</a>
                            </li>
                            <li>
                                {{ 'Lec03.Label4' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>
                        <p> <h4>{{ 'Lec03.Label13' | translate }} </h4></p>
                        <p>{{ 'Lec03.Label260' | translate }} </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>