<div><p> <h4>{{ 'Lec03.Label6' | translate }} </h4></p>

<div class="row">
<div class="col-md-3">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        1
                    </li>
                    <li>
                        <a href="sounds/lec03/unu.ogg">unu</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        2
                    </li>
                    <li>
                        <a href="sounds/lec03/du.ogg">du</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        3
                    </li>
                    <li>
                        <a href="sounds/lec03/tri.ogg">tri</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        4
                    </li>
                    <li>
                        <a href="sounds/lec03/kvar.ogg">kvar</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        5
                    </li>
                    <li>
                        <a href="sounds/lec03/kvin.ogg">kvin</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        6
                    </li>
                    <li>
                        <a href="sounds/lec03/ses.ogg">ses</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        7
                    </li>
                    <li>
                        <a href="sounds/lec03/sep.ogg">sep</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        8
                    </li>
                    <li>
                        <a href="sounds/lec03/ok.ogg">ok</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        9
                    </li>
                    <li>
                        <a href="sounds/lec03/naux.ogg">naŭ</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        10
                    </li>
                    <li>
                        <a href="sounds/lec03/dek.ogg">dek</a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-3">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        11
                    </li>
                    <li>
                        <a href="sounds/lec03/btn314.ogg">dek un</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        12
                    </li>
                    <li>
                        <a href="sounds/lec03/btn315.ogg">dek du</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        13
                    </li>
                    <li>
                        <a href="sounds/lec03/btn316.ogg">dek tri</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        14
                    </li>
                    <li>
                        <a href="sounds/lec03/btn317.ogg">dek kvar</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        20
                    </li>
                    <li>
                        <a href="sounds/lec03/dudek.ogg">dudek</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        21
                    </li>
                    <li>
                        <a href="sounds/lec03/btn319.ogg">dudek unu</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        22
                    </li>
                    <li>
                        <a href="sounds/lec03/btn320.ogg">dudek du</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        30
                    </li>
                    <li>
                        <a href="sounds/lec03/tridek.ogg">tridek</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        31
                    </li>
                    <li>
                        <a href="sounds/lec03/btn322.ogg">tridek unu</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        32
                    </li>
                    <li>
                        <a href="sounds/lec03/btn323.ogg">tridek du</a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-3">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        40
                    </li>
                    <li>
                        <a href="sounds/lec03/kvardek.ogg">kvardek</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        50
                    </li>
                    <li>
                        <a href="sounds/lec03/kvindek.ogg">kvindek</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        60
                    </li>
                    <li>
                        <a href="sounds/lec03/sesdek.ogg">sesdek</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        70
                    </li>
                    <li>
                        <a href="sounds/lec03/sepdek.ogg">sepdek</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        80
                    </li>
                    <li>
                        <a href="sounds/lec03/okdek.ogg">okdek</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        90
                    </li>
                    <li>
                        <a href="sounds/lec03/btn329.ogg">naŭdek</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        100
                    </li>
                    <li>
                        <a href="sounds/lec03/cent.ogg">cent</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        101
                    </li>
                    <li>
                        <a href="sounds/lec03/btn331.ogg">cent unu</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        120
                    </li>
                    <li>
                        <a href="sounds/lec03/btn332.ogg">cent dudek</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        121
                    </li>
                    <li>
                        <a href="sounds/lec03/btn333.ogg">cent dudek unu</a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-3">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        200
                    </li>
                    <li>
                        <a href="sounds/lec03/ducent.ogg">ducent</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        300
                    </li>
                    <li>
                        <a href="sounds/lec03/tricent.ogg">tricent</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        400
                    </li>
                    <li>
                        <a href="sounds/lec03/kvarcent.ogg">kvarcent</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        500
                    </li>
                    <li>
                        <a href="sounds/lec03/kvincent.ogg">kvincent</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        600
                    </li>
                    <li>
                        <a href="sounds/lec03/sescent.ogg">sescent</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        700
                    </li>
                    <li>
                        <a href="sounds/lec03/sepcent.ogg">sepcent</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        800
                    </li>
                    <li>
                        <a href="sounds/lec03/okcent.ogg">okcent</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        900
                    </li>
                    <li>
                        <a href="sounds/lec03/nauxcent.ogg">naŭcent</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        1000
                    </li>
                    <li>
                        <a href="sounds/lec03/mil.ogg">mil</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        2100
                    </li>
                    <li>
                        <a href="sounds/lec03/btn343.ogg">du mil cent</a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>


<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            0
                        </li>
                        <li>
                            <a href="sounds/lec03/nulo.ogg">nulo</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            1887
                        </li>
                        <li>
                            <a href="sounds/lec03/btn345.ogg">mil okcent okdek sep</a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            999001
                        </li>
                        <li>
                            <a href="sounds/lec03/btn346.ogg">naŭcent naŭdek naŭ mil unu</a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            1000322
                        </li>
                        <li>
                            <a href="sounds/lec03/btn347.ogg">unu miliono tricent dudek du</a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>