<div><p> <h4>{{ 'Lec03.Label7' | translate }} </h4></p>
    <p>{{ 'Lec03.Label261' | translate }} </p>

    <div class="row">
        <div class="col-md-3">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec03/tri.ogg">tri</a>
                            </li>
                            <li>
                                {{ 'Lec03.Label15' | translate }}
                            </li>
                        </ul>

                        <ul class="list-inline">
                            <li>
                                <img src="img/ikonoj/sago_revena.png"/>
                            </li>
                            <li>
                                <a href="sounds/lec03/tria.ogg">tria</a>
                            </li>
                            <li>
                                {{ 'Lec03.Label262' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec03/dek.ogg">dek</a>
                            </li>
                            <li>
                                {{ 'Lec03.Label16' | translate }}
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li>
                                <img src="img/ikonoj/sago_revena.png"/>
                            </li>
                            <li>
                                <a href="sounds/lec03/deka.ogg">deka</a>
                            </li>
                            <li>
                                {{ 'Lec03.Label263' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <a href="sounds/lec03/btn351.ogg">dek naŭ</a>
                            </li>
                            <li>
                                {{ 'Lec03.Label18' | translate }}
                            </li>
                        </ul>
                        <ul class="list-inline">
                            <li>
                                <img src="img/ikonoj/sago_revena.png"/>
                            </li>
                            <li>
                                <a href="sounds/lec03/deknauxa.ogg">deknaŭa</a>
                            </li>
                            <li>
                                {{ 'Lec03.Label265' | translate }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec03/btn352.ogg">La unuaj knaboj venas.</a>
                        </li>
                        <li>
                            {{ 'Lec03.Label266' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec03/btn353.ogg">La kaptis la trian insekton</a>
                        </li>
                        <li>
                            {{ 'Lec03.Label267' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


<p> <h4>{{ 'Lec03.Label8' | translate }} </h4></p>
<p>{{ 'Lec03.Label268' | translate }} </p>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec03/unu.ogg">unu</a>
                        </li>
                        <li>
                            {{ 'Lec03.Label17' | translate }}
                        </li>
                    </ul>

                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/sago_revena.png"/>
                        </li>
                        <li>
                            <a href="sounds/lec03/unue.ogg">unue</a>
                        </li>
                        <li>
                            {{ 'Lec03.Label269' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <tbody>
            <tr>
                <td>
                    <ul class="list-inline">
                        <li>
                            <a href="sounds/lec03/du.ogg">du</a>
                        </li>
                        <li>
                            {{ 'Lec03.Label19' | translate }}
                        </li>
                    </ul>
                    <ul class="list-inline">
                        <li>
                            <img src="img/ikonoj/sago_revena.png"/>
                        </li>
                        <li>
                            <a href="sounds/lec03/due.ogg">due</a>
                        </li>
                        <li>
                            {{ 'Lec03.Label270' | translate }}
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-2">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/btn356.ogg">La unue trikos akvon.</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label271' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</div>