<div><p> <h4>{{ 'Lec03.Label9' | translate }} </h4></p>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-2 colorRect" style="background-color: #0000ff"></div>
            <div class="col-md-4"> <a href="sounds/lec03/blua.ogg">blua</a></div>
        </div>
        <div class="row">
            <div class="col-md-2 colorRect" style="background-color: #ffffff"></div>
            <div class="col-md-4"><a href="sounds/lec03/blanka.ogg">blanka</a></div>
        </div>
        <div class="row">
            <div class="col-md-2 colorRect" style="background-color: #008000"></div>
            <div class="col-md-4"><a href="sounds/lec03/verda.ogg">verda</a></div>
        </div>
    </div>
    <div class="col-md-4">
            <div class="row">
                <div class="col-md-2 colorRect" style="background-color: brown"></div>
                <div class="col-md-4"> <a href="sounds/lec03/bruna.ogg">bruna</a></div>
            </div>
            <div class="row">
                <div class="col-md-2 colorRect" style="background-color: #ffff00"></div>
                <div class="col-md-4"><a href="sounds/lec03/flava.ogg">flava</a></div>
            </div>
            <div class="row">
                <div class="col-md-2 colorRect" style="background-color: darkgray"></div>
                <div class="col-md-4"><a href="sounds/lec03/griza.ogg">griza</a></div>
            </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-2 colorRect" style="background-color: #000000"></div>
            <div class="col-md-4"> <a href="sounds/lec03/nigra.ogg">nigra</a></div>
        </div>
        <div class="row">
            <div class="col-md-2 colorRect" style="background-color: #ff0000"></div>
            <div class="col-md-4"><a href="sounds/lec03/rugxa.ogg">rugxa</a></div>
        </div>
        <div class="row">
            <div class="col-md-2 colorRect" style="background-color: purple"></div>
            <div class="col-md-4"><a href="sounds/lec03/purpura.ogg">purpura</a></div>
        </div>
    </div>
</div>
<br/>
<div class="row">
<div class="col-md-6">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/horo.ogg">horo</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label272' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/jaro.ogg">jaro</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label273' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/mateno.ogg">mateno</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label274' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/minuto.ogg">minuto</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label275' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/nokto.ogg">nokto</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label276' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/semajno.ogg">semajno</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label277' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/tago.ogg">tago</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label278' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/vespero.ogg">vespero</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label280' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/soifi.ogg">soifi</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label279' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/atendi.ogg">atendi</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label281' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/demandi.ogg">demandi</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label282' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/fumi.ogg">fumi</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label283' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/kuri.ogg">kuri</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label284' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/peti.ogg">peti</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label285' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/promeni.ogg">promeni</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label286' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/respondi.ogg">respondi</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label287' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <ul class="list-inline">
                    <li>
                        <a href="sounds/lec03/vivi.ogg">vivi</a>
                    </li>
                    <li>
                        {{ 'Lec03.Label288' | translate }}
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</div>